@charset "UTF-8";
.header{

  background-color:teal;
  color:gainsboro;
  width:100%;
  margin:5px;
  top:1px; 
  
}
.nav{
  font-size:30px;
  
  width:100%;
  position:relative;
  background-color:gainsboro;
  bottom:50px;
  color:#3b5998;
  top:1px;
  bottom:10px;
}
p.spacing{
  word-spacing:40px;
}
p.space{
  word-spacing:30px;
}
a{
  background-color:teal;
  color:white;
  padding:20px 20px;
  text-align:center;
  display:inline-block;
  margin:10px;
  text-decoration:none;
  font-size: 60px;
}
  
a:hover{
  background-color:white;
  color:black;
  cursor:pointer;
  -webkit-transition-duration:0.2s;
  transition-duration:0.2s;
  box-shadow: 0 16px 18px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
  
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
    
.modal-content {
    background-color: #fefefe;
    margin:  auto;
    margin-top: 167px;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#header
{
  padding:15px;
  background-color:teal;
}